@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Exo', sans-serif;
}

input:-webkit-autofill, input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #333;
}